## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hithadhoo,MV,27.96,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,4,Kloulklubed,PW,30.00,broken clouds,7.0419,134.2556,Storyboard Beach Resort
2,6,Georgetown,MY,31.00,few clouds,5.4112,100.3354,Cititel Penang
3,8,Atuona,PF,25.98,clear sky,-9.8000,-139.0333,Villa Enata
4,12,Bathsheba,BB,26.00,scattered clouds,13.2167,-59.5167,Atlantis Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Bowen"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Bowen"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Byron Bay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Kiama"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Dubbo"] 
try1 = vacation_stop3.to_numpy()[0][5:7]
try1

array([-32.25, 148.6167], dtype=object)

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]
stop2

array([-34.6833, 150.8667], dtype=object)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
direction_layer = gmaps.directions_layer(start, end, waypoints =[stop1, stop2, stop3], travel_mode = "DRIVING")

fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,474,Bowen,AU,30.00,overcast clouds,-20.0167,148.2333,Castle Motor Lodge Motel
1,176,Byron Bay,AU,29.00,clear sky,-28.6500,153.6167,Backpackers Inn on the Beach
2,91,Kiama,AU,28.89,broken clouds,-34.6833,150.8667,The Sebel Kiama Harbourside
3,301,Dubbo,AU,31.00,broken clouds,-32.2500,148.6167,Comfort Inn Blue Lagoon

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-27.0,150.0), zoom_level=4.6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))